.section-header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid blueviolet;
    overflow-x: hidden;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 6rem;
    margin: auto;
}

.logo-header{
    width: 10rem;
}

.desktop-links,
 #show{
    display: flex;
    opacity: 1;
    visibility: visible;
    gap: 1rem;
}

.desktop-links a{
    
    font-family: var(--family-font);
    font-size: calc(var(--title-font-size) + 0.15rem);
    font-weight: 700;
    color: var(--base-color);
    position: relative;
}

.desktop-links a:hover {
    color: var(--hover-color);
}
  
.desktop-links a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--base-color);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: width 0.2s;
}

.desktop-links a:hover::after{
    width: 100%;
}

.toggle-menu{
    display: none;
}

@media screen and (min-width: 1326px){

    .desktop-links{
        padding-right: 2rem;
    }
    
}


@media screen and (min-width: 1920px){

    .desktop-links{
        padding-right: 3rem;
    }
    
}


@media screen and (max-width: 545px){

    .toggle-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 2rem;
        font-size: 2rem;
        color: var(--base-color);
        background: transparent;
        border: none;
    }

    #hidden{
        display: none;
        opacity: 0;
        visibility: hidden;   
    }     

    #show{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 47%;
        left: 0;
        top: 6rem;
        position: absolute;
        background-color: black;
    }

    #show li{
        width: 90%;
        margin: .75rem;
        padding-bottom: .25rem;
        font-size: calc(var(--title-font-size) + 0.35rem);
        text-align: center;
        border-bottom: 1px solid var(--base-color);
    }

}
