.section-footer{
    display: grid;
    grid-template-columns: 38% 62%;
    justify-content: center;
    height: 50vh;
    margin: auto;
    background-color: var(--base-color);
}

.footer-left{
    display: flex;
    padding: 2rem 2rem 2rem 4rem;
    align-items: flex-start;
    /* padding: 2rem 4rem 2rem 3rem; */
}

.copyright{
    width: 40%;
}

.copyright p{
    font: 100 var(--subtitle-font-size) var(--family-font);
    padding: .75rem 0;
}

.logo-footer {
    width: 8.75rem;
}

.social-links{
    display: flex;
    margin-top: 4rem;
    justify-content: left;
    gap: 1rem;
}

.social-links a{
    font-size: var(--title-font-size);
    color: var(--body-color);
}

.social-links a:hover{
    color: var(--hover-color);
    transform: scale(1.2);
}

.menu-links{
    display: grid;
    grid-gap: .5rem;
    width: 50%;
    margin-left: 3rem;
    align-items: center;
    align-content: start;
}

.menu-links li{
    border-bottom: 1px solid black;
    padding: .25rem 0;
}

.menu-links a{
    color: var(--body-color);
}

.menu-links a:hover{
    color: var(--hover-color);
}

.footer-right{
    display: flex;
    background-color: var(--base-color-second);
    padding: 0 2.5rem 2rem;
    align-items: flex-start;
    /* padding: 0 2rem; */
}

.location{
    width: 27%;
    padding: 2.75rem 1rem;
}

.title{
    font: 900 var(--title-font-size) var(--family-font);
    padding-bottom: .5rem;
}

.subtitle{
    font: 700 var(--subtitle-font-size) var(--family-font);
    padding: .5rem 0;
}


@media screen and (min-width: 1920px){

    .footer-left{
        padding-left: 5.6rem;
    }
    
    .menu-links{
        width: 45%;
    }
    
}


@media screen and (max-width: 1150px){

    .section-footer {
        grid-template-columns: 40% 60%;
    }
}


@media screen and (min-width: 1024px){
    
    .footer-left{
        padding-bottom: 3rem;
    }
    
    .copyright{
        display: grid;
        align-content: space-around;
    }
    
    .menu-links li{
        padding-top: .75rem;
    }
    
}


@media screen and (max-width: 545px){
    
    .section-footer {
        display: block;
        width: 100%;
        height: 100vh;
        margin: auto;
        align-items: center;
    }
    
    .footer-left {
        display: grid;
        width: 90%;
        height: 60vh;
        margin: auto;
        padding:0;
        text-align: center;
        align-content: center;
    }
    
    .copyright {
        display: grid;
        text-align: center;
        justify-items: center;
        width: 100%;
    }
    
    .social-links {
        margin: 2rem 0;
    }
    
    .menu-links {
        width: 100%;
        margin:0;
        text-align: center;
    }
    
    .footer-right {
        display: grid;
        width: 100%;
        height: 80vh;
        margin: auto;
        padding: 0;
    }
    
    .location {
        display: grid;
        width: 90%;
        margin: auto;
        padding:0;
    }

}